<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Walmark</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/link-layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/vendor/masonry.pkgd.js"></script>
    <script src="/vendor/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>



  <body>
  <% include ./partials/_header %>

    <section id="link-container">
        <img class="link-img" src="/images/fashion.jpg">
        <div class="link-info">
            <h3><%=title%></h3>
            <img class="link-avatar" src="<%=user_avatar%>">
            <p class="link-fullname"><%=fullname%></p>
            <a href="<%=url%>" class="button secondary link-visit">Learn Now</a>
            <p class="link-desc"><%=desc%></p>
            <p class="link-date">Created March 28, 2019</p>
        </div>
        <div class="link-comments">
            <h4>Comments</h4>
            <div id="comments-container">
              <!-- insert all comments here -->
            </div>
            <form action="/links/<%=link_id%>/comment" method="POST" class="comment-content">
                <!-- <img class="comment-post-avatar" src="images/noavatar.jpg"> -->
                <textarea name="text" placeholder="How do you like this?"></textarea>
                <input type="submit" value="Done">
            </form>
        </div>
        

    </section>



  </body>
</html>
