<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Walmark</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/link-layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/vendor/masonry.pkgd.js"></script>
    <script src="/vendor/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="/vendor/foundation.js"></script>
    <script>$(document).foundation();</script>
  </head>



  <body>
  <% include ./partials/_header %>

    <section id="link-box">
        <div class="right-col">
        <div class="link-info">
            <a href="/links/<%=link_id%>/edit"><i class="fas fa-pen"></i></a>
            <form id="learn-link" action="/links/<%=link_id%>/learnt" method="POST">
              <% if (learnt == 0){%>
              <button><i class="fas fa-trophy"></i></button>
              <%} else {%>
              <button><i class="fas fa-trophy" id="learnt"></i></button>
              <%}%> 
            </form>
            <div id="saved">Marked!</div>
            <form id="saveform" action="/links/<%=link_id%>/save" method="POST">
            <select id="saveto" name="selectme">
                <option value="" >Mark it on your wall</option>
                <% for (let board = 0; board < boards.length; board++) {%>
                  <option value="<%=boards[board].title%>"><%=boards[board].title%></option>
                  <%};%>
                </select>
              </form>
              
            <h3><%=title%></h3>
            <img class="link-avatar" src="<%=user_avatar%>">
            <p class="link-fullname"><%=full_name%></p><br><br>
            <div id="link-color" style="background-color:<%=color%>"></div>
            <a href="<%=url%>" class="button secondary link-visit">Learn Now</a>
            <p class="link-desc"><%=desc%></p>
            <p class="link-date">Created March 28, 2019</p>
        </div>
        <div class="link-comments">
            <h4>Comments</h4>
            <div id="comments-container">
              <!-- insert all comments here -->
            </div>
            <form action="/links/<%=link_id%>/comment" method="POST" class="comment-content">
                <!-- <img class="comment-post-avatar" src="images/noavatar.jpg"> -->
                <textarea name="text" placeholder="How do you like this?"></textarea>
                <input type="submit" value="Done">
            </form>
        </div>
      </div>
    </section>

  </body>
</html>
