<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/link-layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="styles/foundation.css">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="/vendor/masonry.pkgd.js"></script>
    <script src="/vendor/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>



  <body>
  <% include ./partials/_header %>

    <section id="link-container">
        <img class="link-img" src="/images/fashion.jpg">
        <div class="link-info">
            <h4><%=title%></h4>
            <img class="link-avatar" src="<%=user_avatar%>">
            <span class="link-fullname"><%=user%></span>
            <a href="<%=url%>" class="button secondary link-visit">Learn Now</a>
            <p class="link-desc"><%=desc%></p>
            <p class="link-date">Created March 28, 2019</p>
        </div>
        <div class="link-comments">
            <h4>Comments</h4>
            <img class="comment-avatar" src="/images/noavatar.jpg">
            <div class="comment-content">
                <span class="comment-fullname">John Doe</span>
                <span class="comment-date">5d</span>
                <p class="comment-text">very cool post</p>
            </div>
            <div class="comment-content">
                <!-- <img class="comment-post-avatar" src="images/noavatar.jpg"> -->
                <textarea name="text" placeholder="How do you like this?"></textarea>
                <input type="submit" value="Done">
            </div>
            </img>
        </div>
        

    </section>



  </body>
</html>
