<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Walmark</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user_board.css" type="text/css" />
    <link rel="stylesheet" href="/styles/foundation.css">
  </head>



  <body>
  <% include ./partials/_header %>

    <section id="link-container">
        <h3><%=boardtitle%></h3>
<!--         <div class="link-info">
            <p class="link-name"><%=title%></p>
            <p>Topic: <%=topic%></p>
            <p class="link-desc">Description: <%=description%></p>
            <a href="<%=url%>" class="button secondary link-visit">Learn Now</a>
        </div> -->
    </section>


  <script type="text/javascript" src="../../../../vendor/jquery.js"></script>
  <script type="text/javascript" src="../../../../vendor/what-input.js"></script>
  <script type="text/javascript" src="../../../../vendor/foundation.js"></script>
  <script type="text/javascript" src="../../../../vendor/masonry.pkgd.js"></script>
  <script type="text/javascript" src="../../../../vendor/imagesloaded.pkgd.js"></script>
  <script type="text/javascript" src="../../../../scripts/app.js"></script>
  <script type="text/javascript" src="../../../../scripts/user_board.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>
